    <ul id="menu">
      <li>
        <div>
          <a target="_blank" (click)="initGame()"> Clear All </a>
        </div>
      </li>
      <li>
          <div>
            <a target="_blank" (click)="loadGosperGliderGun()"> Load Gosper Glider Gun </a>
          </div>
        </li>
      <li>
        <div>
          <a target="_blank" (click)="start()"> Start </a>
        </div>
      </li>
      <li>
        <div>
          <a target="_blank" (click)="stop()"> Stop </a>
        </div>
      </li>
      <li>
        <div>
          <a target="_blank" (click)="saveState()"> Save </a>
        </div>
      </li>
      <li>
        <div>
          <a target="_blank"> Load </a>
        </div>
      </li>
    </ul>