    <ul id="menu">
      <li>
        <div>
          <a target="_blank" (click)="initGame()"> Reset </a>
        </div>
      </li>
      <li>
        <div>
          <a target="_blank"> Start </a>
        </div>
      </li>
      <li>
        <div>
          <a target="_blank"> Stop </a>
        </div>
      </li>
      <li>
        <div>
          <a target="_blank" (click)="saveState()"> Save </a>
        </div>
      </li>
      <li>
        <div>
          <a target="_blank"> Load </a>
        </div>
      </li>
    </ul>