.universe-container{
    margin: auto;
    border-spacing: 0;
    border: solid 2px darkgray; 
    display: table;  
    width: 100px;
    height: 100px;
    overflow-y: auto;
}

.inputSizeText{
    float: left;
    margin-left: 100px;
    margin-bottom: 20px;
}

.inputSizeValue{
    margin-left: 40px; 
    width: 100px
}

.tr{
    display: table-row;
    overflow: inherit;
}

.td{
    display: table-cell;
    overflow: inherit;
}


.cell
{
    margin: 0;
    padding: 0;
    border: solid 1px white;
    width: 10px;
    height: 10px;   
}

.alive
{
    background: darkgray;
}

.cell:hover
{
    cursor: pointer;
}