.universe-container{
    margin: auto;
    border-spacing: 0;
    border: solid 1px darkgray;
    width: 100%;
    height: 100%; 
    margin-top: 20px;
}

.inputSizeText{
    display: flex;
}

.universeModuleContainer{
    margin-left: 150px;
}

.inputSizeValue{
    margin: 10px; 
    width: 100px;
    height: 20px;
}

.tr{
    display: table-row;
    overflow: inherit;
}

.td{
    display: table-cell;
    overflow: inherit;
}


.cell
{
    margin: 0;
    padding: 0;
    border: solid 1px white;
    width: 10px;
    height: 10px;   
}

.alive
{
    background: darkgray;
}

.cell:hover
{
    cursor: pointer;
}