<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center;  color: gray;">
  <h1>
    {{ title }}
  </h1>

  <div style="float: left; width: 10%">
    <ul id="menu">
      <li>
        <div>
          <a target="_blank"> Init </a>
        </div>
      </li>
      <li>
        <div>
          <a target="_blank"> Start </a>
        </div>
      </li>
      <li>
        <div>
          <a target="_blank"> Stop </a>
        </div>
      </li>
      <li>
        <div>
          <a target="_blank"> Save </a>
        </div>
      </li>
      <li>
        <div>
          <a target="_blank"> Load </a>
        </div>
      </li>
    </ul>
  </div>

  <div style="width: 75%">
   <span> the grid life</span>
  </div>
</div>